/* .team-preview-body {
    color: white;
} */

.team-preview-title {
    width: 100%;
    font-size: 55px;
    font-weight: 600;
    padding: 0.7rem 0rem;
    border-bottom: 5px solid #00A6D6;

}

.team-preview-subtitle {
    width: 100%;
    font-size: 30px;
    padding: 0.3rem 0rem;
    font-weight: 500;
}

.team-preview-grid {
    width: 80%;
    margin: auto;
    margin-top: 3em;
    text-align: left;
}

.team-preview-grid > div {
    display: inline-block;
}

.team-container {
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.team-preview-name-container {
    margin-top: auto;
    margin-bottom: auto;
    width: 10em;
    margin-left: 5px;
}

.team-preview-name-container > div {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    overflow-wrap: break-word;
}

.team-image-container {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.vehicle-main-svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.vehicle-highlight-svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 3  ;
}

.background-vehicle-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .team-preview-grid {
        width: 90%;
    }

    .team-container {
        margin-top: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .team-image-container {
        width: 50px;
        height: 50px;
    }

    .team-preview-name-container {
        width: 5em;
    }

    .team-preview-name-container > div {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1024px) {
    .team-preview-grid {
        width: 95%;
    }

    .team-container {
        margin-top: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .team-image-container {
        width: 60px;
        height: 60px;
    }

    .team-preview-name-container {
        width: 6em;
    }

    .team-preview-name-container > div {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .team-preview-grid {
        width: 85%;
    }

    .team-container {
        margin-top: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .team-image-container {
        width: 75px;
        height: 75px;
    }

    .team-preview-name-container {
        width: 8em;
    }

    .team-preview-name-container > div {
        font-size: 17px;
    }
}

@media only screen and (min-width: 2000px) {
    .team-preview-grid {
        width: 80%;
    }

    .team-container {
        margin-top: 2em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .team-image-container {
        width: 85px;
        height: 85px;
    }

    .team-preview-name-container {
        width: 10em;
    }

    .team-preview-name-container > div {
        font-size: 20px;
    }
}