@font-face {
    font-family: "Electrolize";
    src: url("../../../fonts/Electrolize-Regular.ttf");
}

.team-preview-body {
    color: #003082;
}

.page-content {
    position: relative;
    /* z-index: 0; */
}

.team-preview-title {
    position: relative;
    width: 100%;
    height: 11vh;
    font-size: 2.5vw;
    font-weight: 600;
    padding: 1vh 0;
    z-index: 1000;
    background-color: #0c2340;
    /* border-bottom: 0.5vh solid #0063D3; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-preview-subtitle {
    width: 100%;
    font-size: 1.7vw;
    font-family: "Electrolize", sans-serif;    
    margin-top: 2.7vh;
    color: #ff951b;
}

.team-preview-grid {
    width: 40vw;
    padding-bottom: 2vh;
    margin: 8vh auto;
    margin-bottom: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: left;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.team-preview-grid > div {
    display: inline-block;
    flex-basis: 25%;
}

.team-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-preview-name-container {
    margin-top: 0.5vh;
    width: 100%;
}

.team-preview-name-container > div {
    font-size: 0.55vw;
    font-weight: 600;
    text-align: center;
    overflow-wrap: break-word;
}

.team-image-container {
    box-shadow: 0px 0px 1.5vh #000000;
    background-color: white;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
}

.vehicle-main-svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.vehicle-highlight-svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 3  ;
}

.background-vehicle-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.main-team-preview {
    width: 40vw;
    margin: 0 auto;
    padding-left: 1.5vw;
    padding-top: 1vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-team-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2vh #F8B700;
    background-color: white;
    height: 17vh;
    width: 17vh;
}

.main-team-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    font-weight: 700;
}