@font-face {
    font-family: "Kanit";
    src: url("../../../fonts/Kanit-Bold.ttf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("../../../fonts/CenturyGothic.ttf");
}

@font-face {
    font-family: "Chicle-Regular";
    src: url("../../../fonts/Chicle-Regular.ttf");
}

@font-face {
    font-family: "PermanentMarker";
    src: url("../../../fonts/PermanentMarker-Regular.ttf");
}

.diff-modal-wrapper {
    position: absolute;
    padding-left: 4rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
}

.diff-modal {
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
    z-index: 10;
    overflow: hidden;
    border: 1px solid black;
    height: fit-content;
}

.diff-modal-text0 {
    margin-top: 35px;
    font-size: 45px;
    font-family: Kanit, Century Gothic, sans-serif;
    font-style: bold;
}

.diff-modal-text1 {
    margin: 25px 35px 25px 35px;
    font-size: 20px;
    font-family: Century Gothic, sans-serif;
}

.card-grid {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.card-container {
    display: flex;
    flex: 1;
    min-width: 0;
    justify-content: center;
    padding-bottom: 2rem;
}

.card-title {
    font-size: 30px;
    font-family: 'PermanentMarker', sans-serif;
    text-align: center;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

.card-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.difficulty-card-disabled {
    background-color: rgb(239, 239, 239);
    cursor: not-allowed;
}

.card-body {
    height: 14em;
}

.difficulty-card {
    cursor: pointer;
    flex: 1;
    margin: 15px;
    width: 10rem;
}

.difficulty-card:hover {
    transform: scale(1.05);
    background-color: rgb(239, 239, 239);
}

.emoji {
    font-size: 50px;
    margin-bottom: 0.5rem;
}

.card-points-text {
    font-size: 30px;
    font-family: 'Chicle-Regular', sans-serif;
    color: #FB8500;
}

.card-points,
.card-attempts,
.card-streak {
    font-family: Century Gothic, sans-serif;
    font-style: bold;
    text-align: center;
    margin: 5px;
}

.optional-text-diff {
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 1300px) {
    /* Adjust the width for smaller screens */
    .card-body {
        height: 14em;
    }

    .card-grid {
        margin-top: 0;
    }
    .emoji {
        margin-top: 25px;
        font-size: 45px;
    }
    .difficulty-card,
    .card {
        width: 10rem;
    }

    .diff-modal-wrapper {
        padding-left: 1rem;
    }

    .card-points-text {
        font-size: 25px;
    }

    .card-points {
        font-size: 12px;
    }
}

@media only screen and (max-width: 2000px) {
    .diff-modal-text0 {
        font-size: 25px;
        margin-top: 15px;
    }

    .diff-modal-text1 {
        margin: 10px 20px 10px 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1090px) {
    .card-body {
        height: 12em;
    }

    .difficulty-card,
    .card {
        width: 8rem;
    }

    .emoji {
        margin-top: 5px;
        font-size: 45px;
    }

    .card-points {
        font-size: 10px;
    }
}