.team-preview-countdown-text {
    position: fixed;
    width: 30em;
    height: 15em;
    line-height: 15em;
    color: black;
    -webkit-text-stroke: 2px white;
    border: 3px solid black;
    background-color: #00A6D6;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-preview-countdown-text > div {
    font-size: 90px;
    font-weight: 800;
}