@font-face {
    font-family: "PermanentMarker";
    src: url("../../../../fonts/PermanentMarker-Regular.ttf");
}

.topic-display-container {
    position: absolute;
    top: 13.7%;
    width: 100%;
    text-align: center;
}

.topic-text {
    width: 100%;
    font-size: 1.7vw;
    font-family: "Electrolize", sans-serif;    
    color: #ff951b;
}