.team-preview-countdown-text {
    position: fixed;
    width: 30em;
    height: 15em;
    line-height: 15em;
    color: black;
    -webkit-text-stroke: 2px black;
    border: 5px solid;
    outline: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-preview-countdown-text > div {
    font-size: 90px;
    font-weight: 800;
}

.countdown-text-0 {
    border-color: red;
    background-color: red;
    color: white;
}

.countdown-text-1 {
    border-color: yellow;
    background-color: yellow;
    color: white;
}

.countdown-text-2 {
    border-color: green;
    background-color: green;
    color: white;
}