.flame-wrapper {
    display: inline-block;
    width: 256px;
    height: 256px; 
    overflow: hidden;
    position: relative;
  }
  
  .flame-animation {
    width: 256px;
    height: 256px;
    background-image: url('../../../../img/flame_spritesheet.png');
    background-repeat: no-repeat;
    animation: burn 0.7s steps(11) forwards;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @keyframes burn {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2816px 0;
    }
  }
  
  .flame-static {
    width: 256px;
    height: 256px;
    background-image: url('../../../../img/flame_static.png');
    background-repeat: no-repeat;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  