.bridge-river-container {
    position: absolute;
    bottom: 0;
    left: 21%;
    height: auto;
    width: 33%;

    animation: water-distort 3s ease-in-out infinite;
}


.bridge-river-container img {
    height: 100%;
    width: 100%;
}

@keyframes water-distort {
    0% {
        transform: scale(1.01, 1) skewX(-0.4deg) skewY(0.3deg);
        filter: brightness(1);
    }

    20% {
        filter: brightness(1.1);
    }

    30% {
        filter: brightness(1);
    }

    50% {
        transform: scale(0.9, 1.15) skewX(0.3deg) skewY(-0.3deg);
    }

    90% {
        filter: brightness(1.1);
    }

    100% {
        transform: scale(1.01, 1) skewX(-0.4deg) skewY(0.3deg);
        filter: brightness(1);
    }
}