.power-up-element {
    height: 4.5rem;
    width: 4.5rem;
    background-color: transparent;
    border-radius: 10px;
    position: relative;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition-duration: 0.3s;
}

.power-up-background {
    width: 100%;
    height: 100%;
    background: rgb(0, 104, 142);
    border-radius: 10px;
    z-index: -1;
}

.powerup-overlay-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0.8;
    z-index: 100;
    opacity: 1;
}

.power-up-element:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.power-up-expiring {
    animation: flash 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -1s;
}

.expiry-timer {
    font-family: Cherry Bomb, sans-serif;
    width: 100%;
    font-size: 15px;
    position: absolute;
    bottom: 1px;
    z-index: 1000;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.599), 0 0 10px rgba(0, 0, 0, 0.484), 0 0 15px rgba(0, 0, 0, 0.505);
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.7;
        transform: scale(0.95);
    }
}

@media screen and (max-height: 700px) {
    .power-up-element {
        width: 3rem;
        height: 3rem;
    }
}


@media screen and (min-height: 700px) {
    .power-up-element {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-height: 1250px) {
    .power-up-element {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-height: 1450px) {
    .power-up-element {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-height: 1800px) {
    .power-up-element {
        width: 4.5rem;
        height: 4.5rem;
    }
}