.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background svg {
    width: 120%; 
    height: 100%;
    margin-left: -10%;
}

#b2 {
    animation: wave-background-move 3s infinite ease-in-out alternate;
    transform-origin: center;
}

#b3 {
    animation: wave-background-move 5s infinite ease-in-out alternate-reverse;
    animation-delay: 1s;
    transform-origin: center;
}

@keyframes wave-background-move {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(60px);
    }
}