.background-train {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff6e4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
    overflow: hidden;
}

.sliding-background-clouds {
    background-image: url("../../../img/waiting-screen-background.png");
    background-size: auto 100vh;
    background-position: 0 0;

    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide-clouds 30s linear infinite;
}

.background-train-track {
    background-image: url("../../../img/track-horizontal.png");
    background-size: auto 150px;
    background-repeat: repeat-x;
    background-position: 0 -20%;

    filter: blur(4px);

    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 50px;
    z-index: 0;
    animation: slide-bckground 5s linear infinite;
    animation-direction: reverse;
}

.train-theme-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateX(0);
}

.overlay-background-color {
    background-color: #F8B700;
    position: absolute;
    top: 0;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1000;
}

.train-theme-overlay img {
    position: absolute;
    height: auto; /* Maintain aspect ratio */
}

.train-windows {
    width: 52%;
    top: 60%;
    left: -65%;
}

.train-stripe {
    width: 141%;
    top: -12.5%;
    left: -64.2%;
    z-index: -200;
}

/* .train-door-left {
    transform-origin: right center;
    width: 18%;
    top: 15%;
    left: 33.1%;
}

.train-door-right {
    transform-origin: left center;
    width: 18%;
    top: 15%;
    right: 31.1%;
} */

.train-door-left {
    transform-origin: right center;
    width: 18%;
    top: 12%;
    left: 15.2%;
}

.train-door-right {
    transform-origin: left center;
    width: 18%;
    top: 12%;
    right: 13.2%;
}

.conductor-door {
    width: 12%;
    top: 18%;
    right: 2%;
}

.door-frame {
    width: 35.8%;
    top: 15%;
    left: 33%;
    z-index: -100;
}

@keyframes slide-clouds {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: 80% 0;
    }
}

@keyframes slide-bckground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1500px 0;
    }
}
