.background-train-screen {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff6e4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.sliding-background-clouds {
    background-image: url("../../../img/waiting-screen-background.png");
    background-size: auto 100vh;
    background-position: 0 0;

    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide-clouds 30s linear infinite;
}

.background-train-track {
    background-image: url("../../../img/track-horizontal.png");
    background-size: auto 150px;
    background-repeat: repeat-x;
    background-position: 0 -20%;

    filter: blur(4px);

    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 50px;
    z-index: 0;
    animation: slide-bckground 5s linear infinite;
    animation-direction: reverse;
}

.train-theme-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: translateX(1000px); */
    z-index: 9999;
}


.overlay-background-color {
    background-color: #F8B700;
    position: absolute;
    top: 0;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1000;
}

.train-theme-overlay img {
    position: absolute;
    height: auto; /* Maintain aspect ratio */
}

.train-windows {
    width: 52%;
    top: 60%;
    left: -65%;
}

.train-stripe {
    width: 141%;
    top: -2.7%;
    left: -64.2%;
    z-index: -200;
}

.train-door-left,
.train-door-right {
    position: absolute;
    z-index: 10000;
    overflow: hidden;
}

.train-doors {
    overflow: hidden;
}

.train-door-left {
    transform-origin: right center;
    width: 18%;
    top: 22%;
    left: 15.2%;
    z-index: 9999;
}

.train-door-right {
    transform-origin: left center;
    width: 18%;
    top: 22%;
    right: 13.2%;
    z-index: 9999;
}

.door-closing .train-door-left {
    animation: close-door-left 1.5s cubic-bezier(0.42, 0, 1, 1) forwards;
}

.door-closing .train-door-right {
    animation: close-door-right 1.5s cubic-bezier(0.42, 0, 1, 1) forwards;
}

.door-opening .train-door-left {
    animation: close-door-left 1.5s cubic-bezier(0.42, 0, 1, 1) reverse forwards;
}

.door-opening .train-door-right {
    animation: close-door-right 1.5s cubic-bezier(0.42, 0, 1, 1) reverse forwards;
}

.move-train .train-theme-overlay,   .move-train.train-doors {
    animation: train-leaves-station 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}

.conductor-door {
    width: 12%;
    top: 28%;
    right: 2%;
    z-index: -50;
}

.door-frame {
    width: 35.8%;
    top: 25%;
    left: 33%;
    z-index: -100;
}

.train-display {
    width: 35%;
    top: 13%;
    left: 33.5%;
    z-index: 5000;
}

@keyframes slide-clouds {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: 80% 0;
    }
}

@keyframes slide-bckground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1500px 0;
    }
}

@keyframes close-door-left {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(2vw, 2vh);
    }
    75% {
        transform: translate(15vw, 3vh);
    }
    100% {
        transform: translate(17.9vw, 3vh);
    }
}

@keyframes close-door-right {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2vw, 2vh);
    }
    75% {
        transform: translate(-15vw, 3vh);
    }
    100% {
        transform: translate(-17.9vw, 3vh);
    }
}

@keyframes train-leaves-station {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1600px);
    }
}