#wave-mid {
    animation: wave-background 20s infinite ease-in-out alternate;
}

#wave-top {
    animation-delay: 0.5s;
    animation: wave-background 30s infinite ease-in-out alternate-reverse;
}

#wave-bot {
    animation-delay: 1s;
    animation: wave-background 8s infinite ease-in-out alternate-reverse;
}

#wave-high {
    animation-delay: 1.5s;
    animation: wave-background 25s infinite ease-in-out alternate;
}

#wave-sky {
    animation-delay: 2s;
    animation: wave-background 30s infinite ease-in-out alternate-reverse;
}

.boat-background-container {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: #39eaf7;
}

@keyframes wave-background {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-550px);
    }
}

#question-boat-background {
    position: fixed;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300vw;
    height: 100vh;
    z-index: -1;
}
