[Container]
Image=docker.io/caddy:2.8-alpine
PublishPort=80:80
PublishPort=443:443
Volume=/home/julia/Caddyfile:/etc/caddy/Caddyfile
Volume=caddy_data:/data
Volume=caddy_config:/config
Network=racingla.network
HostName=caddy
AutoUpdate=registry

[Install]
WantedBy=default.target
