.amsterdam-sail-container {
    position: absolute;
    z-index: 999;
    left: 58%;
    top: 58%;
    height: 2%;
    width: 2%;
}

.amsterdam-sail-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.amsterdam-sail-container > div > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.amsterdam-sail-container > div img:nth-child(1) {
    top: -60%;
    left: -80%;
    transform: scaleX(-1);
    animation: boatFloat1 1s ease-in-out infinite;
    animation-delay: 1s;
}

.amsterdam-sail-container > div img:nth-child(2) {
    top: -50%;
    left: 90%;
    transform: scaleX(-1);
    animation: boatFloat2 1s ease-in-out infinite;
    animation-delay: 0.5s;
}

.amsterdam-sail-container > div img:nth-child(3) {
    top: 20%;
    left: -40%;
    transform: scaleX(-1);
    animation: boatFloat2 1s ease-in-out infinite;
}

.amsterdam-sail-container > div img:nth-child(4) {
    top: 70%;
    left: 170%;
    transform: scaleX(-1);
    animation: boatFloat1 0.8s ease-in-out infinite;
}

.amsterdam-sail-container > div img:nth-child(5) {
    top: 150%;
    left: -90%;
    /* Combine scale, rotate and animation transforms */
    transform: scaleX(-1) rotate(2deg);
    animation: boatFloat2 0.8s ease-in-out infinite;
    animation-delay: 1s;
}

.amsterdam-sail-container > div img:nth-child(6) {
    top: 190%;
    left: 80%;
    transform: scaleX(-1) rotate(-2deg);
    animation: boatFloat1 1s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes boatFloat1 {
    0% {
        transform: scaleX(-1) translateY(0);
    }
    50% {
        transform: scaleX(-1) translateY(-8%);
    }
    100% {
        transform: scaleX(-1) translateY(0);
    }
}

@keyframes boatFloat2 {
    0% {
        transform: scaleX(-1) translateY(0);
    }
    60% {
        transform: scaleX(-1) translateY(-6%);
    }
    100% {
        transform: scaleX(-1) translateY(0);
    }
}