.checkpoint-notification-container {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 1rem;
	padding-top: 0.8vh;
}

.show-checkpoint {
	animation: show-checkpoint 1s forwards;
}

.hide-checkpoint {
	animation: hide-checkpoint 1s forwards;
}

.checkpoint-notification-title {
	font-size: 6vh;
	font-weight: bold;
	margin-bottom: 10px;
	font-style: italic;
	margin-right: 2rem;
	margin-top: 1vh;
	color: #333;
}

.checkpoint-notification-icon {
	height: 7vh;
	width: auto;
	display: block;
}

.checkpoint-notification-background {
	position: absolute;
	z-index: -100;
	top: 0;
	width: 35vw;
	right: -5vw;
}

@keyframes show-checkpoint {
	0% {
		transform: translateX(35vw);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes hide-checkpoint {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(35vw);
	}
}