.leaderboard-header {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
}
.leaderboard-title {
    font-family: "Righteous", sans-serif;
    margin: auto;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: -2%;
    color: white;
    display: block;
}
.leaderboard-wrapper {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #0c2340;
    color: black;
    border: 5px solid black;
    padding: 5px;
    width: 70%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.leaderboard-table-medium {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.leaderboard-table-medium th,
.leaderboard-table-medium td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.leaderboard-table-small {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.leaderboard-table-small th,
.leaderboard-table-small td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.leaderboard-rank {
    color: #ff8c00;
    font-weight: bold;
}

.leaderboard-name {
    font-weight: bold;
}

.leaderboard-accuracy {
    color: #008000;
}

.leaderboard-checkpoints {
    color: #0000ff;
}

.leaderboard-score {
    color: #ff0000;
}
.highlighted-row {
    background-color: #ffffcc;
    animation: shiningEffect 2s infinite;
    box-shadow: 0 0 10px 5px #ffffcc;
}

@keyframes shiningEffect {
    0% {
        box-shadow: 0 0 10px 5px #ffffcc;
    }
    50% {
        box-shadow: 0 0 20px 10px #ffffcc;
    }
    100% {
        box-shadow: 0 0 10px 5px #ffffcc;
    }
}

.normal-row:nth-child(even) {
    background-color: white;
}

.normal-row:nth-child(odd) {
    background-color: lightcyan;
}
.your-position {
    left: 15px;
    color: white;
    text-align: left;
    font-family: "Righteous", sans-serif;
    font-size: xx-large;
    position: relative;
}
