.topic-element {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    text-align: left;
}

.topic-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.edit-studies-icon {
    margin-left: 0.5rem;
}

.edit-studies-icon:hover {
    cursor: pointer;
}

.number-of-exercises {
    font-size: 18px;
    font-weight: 400;
}

.studies-header {
    font-size: 16px;
}

.studies-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.study-element {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 0.5rem 0.2rem;  
    transition-duration: 0.3s;
}

.exercises-header {
    font-size: 16px;
}

.exercise-edit-icon,.add-exercise-icon,.remove-exercises-icon:hover {
    cursor: pointer;
}

.add-exercise-icon {
    margin-left: 0.5rem;
}

.remove-exercises-icon {
    margin-left: 1rem;
}