.dolphin-pod-container {
    position: absolute;
    z-index: 999;
    width: 30%;
    height: auto;
}

.dolphin-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.dolphin-container :nth-child(1) {
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
}

.dolphin-container :nth-child(2) {
    position: absolute;
    width: 23%;
    top: 20;
    left: 2%;
}

.dolphin-container :nth-child(3) {
    position: absolute;
    width: 18%;
    top: 0;
    left: 4%;
}

/* In DolphinPod.css */
.dolphin-gif {
    animation: fadePop 0.2s ease-out forwards;
}

@keyframes fadePop {
    from { opacity: 0; transform: scale(0.8); }
    to   { opacity: 1; transform: scale(1); }
}