.lighthouse-container {
    position: absolute;
    z-index: 999;
    left: 90%;
    top: 8%;
    height: 1%;
    width: 1%;
}

.lighthouse-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.lighthouse-container > div img:nth-child(1) {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.lighthouse-container > div img:nth-child(2) {
    width: 350%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -40%);
    z-index: 2;
}


@keyframes lighthouse-beam {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.lighthouse-container > div img:nth-child(2) {
    animation: lighthouse-beam 8s linear infinite;
    animation-delay: 1s;
}